
    <header class=' top-0 w-full z-50 bg-black/70 backdrop-blur-md shadow-lg border-b border-gray-800'>
      <div class='max-w-7xl mx-auto flex justify-between items-center py-4 px-6'>
        <a
          href='/'
          class='text-2xl font-extrabold text-white tracking-wider'>
          <img class=' max-w-[160px]' src='/logo.png' alt='logo' />
        </a>
        <nav class='hidden md:flex space-x-8 text-gray-300 font-semibold'>
          <a href='/' class='hover:text-primary'>
            Home
          </a>
          <a href='/company' class='hover:text-primary'>
            Company
          </a>
          <a href='/services' class='text-primary'>
            Services
          </a>
          <a href='/career' class='hover:text-primary'>
            Careers
          </a>
          <a href='/contact-us' class='hover:text-primary'>
            Contact
          </a>
        </nav>
        <a
          href='/contact-us'
          class='hidden md:block text-white bg-red-700 px-5 py-2 rounded-full font-bold'>
          Get in Touch
        </a>
      </div>
    </header>